@page "{id:Guid}"
@model TIMS_X.Server.Pages.DocumentModel
@{
    ViewData["Title"] = "Access Document";
}


<div class="d-flex flex-column align-self-center">
    @if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
    {
        <div class="row justify-content-center p-4">
            <div class="alert alert-danger col-sm-5 justify-content-cente">
                <h5 class="h5">@Model.ErrorMessage</h5>
            </div>
        </div>
        
    }
    else
    {
        <div class="card bg-light align-items-stretch justify-content-center login-card mt-2">
            <div class="card-header text-center"><span><i class="fas fa-lock pr-1 text-success"></i> TIMS Secure Document Access</span></div>
            <div class="card-body">
                <form method="post">
                    <div class="form-group">
                        <label asp-for="Password">Password</label>
                        <input asp-for="Password" type="password" class="form-control">
                        <span class="text-danger" asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary">View Document</button>
                    </div>
                </form>
            </div>
        </div>
    }
    
</div>