@page
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<div class="d-flex flex-column align-self-center">
    <img class="align-self-center img-fluid" src="~/images/logo_full.png" alt="logo" />
    <div class="card bg-light align-items-stretch justify-content-center login-card p-3">
        <h3 class="text-danger">Status Code: @Model.ErrorStatusCode</h3>
        <h3 class="text-danger">@Model.ErrorMessage</h3>
    </div>
    
</div>

