@page
@{
    ViewData["Title"] = "Form Submitted";
}

<h3 class="h3 my-auto">@ViewData["Title"]</h3>
<div class="container text-center">
    <div class="row mt-3 mb-3">
        <div class="col">
            <span style="color: darkgreen;">This form has been submitted.</span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <span class="my-auto">Your can close this window.</span>
        </div>
    </div>
   
</div>

