.banner-background {
    padding: 0 5px 3px 12px;
    background-color: #1963a0;
    color: white;
}

.dim {
    color: #8ab0cf;
}

.filter-button {
    margin-right: 5px;
    font-size: 18px;
    color: #fff;
}

.filter-button:hover {
    text-decoration: underline;
    cursor: pointer;
    text-decoration: none;
    color: lightgrey;
}