$default_font_size: 14px;

$btn_grad_start: #ffffff;
$btn_grad_end: #e0e0e0;
$btn_border: #cccccc;

$btn_grad_active_start: #e8e8ff;
$btn_grad_active_end: #ffffff;

$btn_grad_hover_start: #e9e9e9;
$btn_grad_hover_end: #c0c0c0;

$form_footer_color: #ddf0ff;
$form_header_color: #ddf0ff;
$form_background_color: #ffffff;

$ot_status_background_color: #dff0d8;
$ot_status_color: #468847;
$no_ot_status_background_color: #ddd;


$required_background_color: #fdf2c1;