:host {
    background-color: white;
}

.provider-selector {
    padding: 2px 5px;
}

.mobile-navigation {
    padding: 5px 0;
    justify-content: center;
    display: flex;
    text-align: center;
}