@page
@{
    ViewData["Title"] = "Password Changed";
}

<h3 class="h3 my-auto">@ViewData["Title"]</h3>
<div class="container">
    <p class="my-auto">
        You have successfully changed your password.
    </p>
    <a class="my-auto" href="~/Index">Home</a>
</div>

