@page
@model SignedOutModel
@{
    ViewData["Title"] = "Signed out";
}

<h3 class="h3 my-auto">@ViewData["Title"]</h3>
<div class="container">
    <p>
        You have successfully signed out.
    </p>
    <a href="~/Account/SignIn">Sign In</a>
</div>