<form [formGroup]="addressform" autocomplete="off" novalidate>
    <div>
        <div class="form-group row">
            <div class="col-sm-12 position-relative">
                <input type="text" class="form-control form-control-sm focus-ring tims-input" name="addressline1"
                    [formControlName]="'addressline1'" placeholder="street 1" maxlength="55"
                    [ngClass]="{ 'is-invalid': f['addressline1'].touched && f['addressline1'].errors, 'required-control': addressLine1Required }">
                <div class="invalid-tooltip">Required</div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12 position-relative">
                <input type="text" class="form-control form-control-sm focus-ring tims-input" name="addressline2"
                    [formControlName]="'addressline2'" placeholder="street 2" maxlength="55"
                    [ngClass]="{ 'required-control': addressLine2Required }">
                <div class="invalid-tooltip">Required</div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12 position-relative">
                <input type="text" class="form-control form-control-sm focus-ring tims-input" name="city"
                    [formControlName]="'city'" placeholder="city" maxlength="20"
                    [ngClass]="{ 'is-invalid': f['city'].touched && f['city'].errors,'required-control': cityRequired }">
                <div class="invalid-tooltip">Required</div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4 position-relative">
                <input type="text" class="form-control form-control-sm focus-ring tims-input" name="state" maxlength="3"
                    [formControlName]="'state'"
                    [ngClass]="{ 'is-invalid': f['state'].touched && f['state'].errors, 'required-control': stateRequired }">
                <div class="invalid-tooltip">Required</div>
            </div>
            <div class="col-sm-8 position-relative">
                <input type="text" class="form-control form-control-sm focus-ring tims-input" name="zipcode"
                    formControlName="zipcode" placeholder="zip" NumberOnly maxlength="15" (input)="zipChanged($event)"
                    [ngClass]="{ 'is-invalid': f['zipcode'].touched && f['zipcode'].errors, 'required-control': zipCodeRequired }">
                <div class="invalid-tooltip">Required</div>
            </div>
        </div>
    </div>
</form>