<div class="container">
    <div class="row" style="background-color: #003768; color: white;">
        <h2>{{practiceName}}</h2>
    </div>
    <div class="ps-row">
        <div class="row">
            <div style="margin: 5px;">
                <div>{{message}}</div>
                <div>{{emailMessage}}</div>
                <div>{{pendingMessage}}</div>
                <div style="margin-top: 10px; font-weight: bold;">{{practiceMessage}}</div>
            </div>
        </div>
    </div>
</div>